.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 70px;
    grid-gap: 10px;
}

.item{
  margin-top: -20px;
  margin-bottom: -20px;
  height: 80px;
  width: 60px;
}
  
.grid2 {
  grid-auto-flow: column;
}
h2 {
  margin-bottom: 1em;
}